[submodule "freedesktop"]
	path = freedesktop
	url = git@github.com:lcpz/awesome-freedesktop.git
[submodule "lain"]
	path = lain
	url = git@github.com:lcpz/lain.git
[submodule "vicious"]
	path = vicious
	url = git@github.com:vicious-widgets/vicious.git
[submodule "awesome-wm-widgets"]
	path = awesome-wm-widgets
	url = git@github.com:streetturtle/awesome-wm-widgets.git
