[Unit]
Description=Awesome Sensors
After=display-manager.service

[Service]
Type=simple
ExecStart=/home/arsham/go/bin/awesome-sensors
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5s
StartLimitInterval=0

[Install]
WantedBy=graphical.target
